@model Web.ViewModels.LoginViewModel

@{
    ViewBag.Title = "title";
    Layout = "_LoginLayout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <h1 class="text-3xl font-semibold text-center text-warning mb-4">Foei Afblijven</h1>
            </div>
        </div>
    </div>
</div>
